:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EFC15F;
    --header-height: 220px;
    --header-nav-height: 58px;
    --star-gold-color: #ffce3e;
    --header-search-height: calc(var(--header-height) - var(--header-nav-height));
    --header-sort-bar: 46px;
    --border-color: #d7d7d7;
    --button-hover: #FF7F7C;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:  'Roboto', sans-serif;
    box-sizing: border-box;
}
.product-border {
    border: 1px var(--border-color) solid;
    border-radius: 10px;
}

/* HOME PAGE */
.header-search {
    width: 100%;
    height: calc(var(--header-height) - var(--header-nav-height));
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
}

/* Header */
.header-logo>img {
    width: 140px;
    height: 140px;
}

.header-search__form {
    position: relative;
}

.header-search__form--input-field {
    font-size: 2rem;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.25);
    border: 2px var(--border-color);
}

.header-search_form--button {
    position: absolute;
    right: -35px;
    width: 90px;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    padding: 16px;
    transition: 0.2s linear;
    border-radius: 10px;
    text-align: center;
}

.header-search_form--button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.header-option {
    text-align: right;
}

.header-option img {
    height: 60px;
    width: 60px;
}

/* Navbar */

.header-navbar {
    background-color: var(--primary-color);
}

.header-navbar__list {
    display: flex;
    justify-content: space-between;
}

.header-navbar__location-shop .location-shop__icon>img {
    width: 40px;
    height: 40px;
}

.header-navbar__location-shop {
    display: flex;
    align-items: center;
}

.header-navbar__page-list {
    width: 100%;
    height: var(--header-nav-height);
    list-style: none;
    height: 100%;
    display: flex;
}

.header-navbar__page-list-item,
.location-shop__title {
    font-size: 2rem;
    padding: 20px;
    height: 100%;
    white-space: nowrap;

}

.header-navbar__page-list-item:hover,
.location-shop__title:hover {
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}

.header-navbar__page-list-item:hover .header-navbar__page-list-item-link {
    color: var(--primary-color);
    cursor: pointer;
}

.header-navbar__page-list-item-link,
.location-shop__title {
    text-decoration: none;
    color: #fff;
}


.banner>img {
    height: 100px;
    width: 300px;
}


.product-list__title {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 750;
    margin: 15px 0;
}

/* Product  */

.userprofile_info_wel_profile_i h4{
    font-size: 2rem;
}

.userprofile_title{
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 750;
    margin: 15px 0;
}
.userprofile_info_wel{
    display: flex;
}
.userprofile_info_wel_history {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
}
.userprofile_info_wel_history:hover{
    background-color: #ffc954;    
}
.userprofile_info_wel_history img{
    width: 30px;
    padding-top: 20px;
}
.userprofile_info_wel_history h3{
    padding-bottom: 20px;
    font-size: 2rem;
}

.userprofile_info_wel_welcome {
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
}
.userprofile_info_wel_welcome img{
    width: 30px;
    padding-top: 20px;
}
.userprofile_info_wel_welcome h3{
    padding-bottom: 20px;
    font-size: 2rem;
}

.userprofile_info_wel_welcome span{
    color: orange;
}

.userprofile_info_wel_profile{
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 20px;
}
.userprofile_info_wel_profile h3{
    padding: 10px 0px 0px 10px;
    font-size: 2.5rem;
}
.userprofile_info_wel_profile_i{
    padding: 10px 0px 10px 10px
}
.userinfo {
    display: flex;
}
.userprofile_bar img{
    width: 40px;
}

.userprofile_bar_profile {
    display: flex;
    padding: 25px 0px 0px 20px;
    padding: 20px;
}

.userprofile_bar {
    flex-direction: column;
    height: 33rem;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0px 10px;
}

.userprofile_bar_profile a{
    align-self: center;
    padding-left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.userprofile_bar_profile a:hover{
    color: rgb(248, 199, 107);
    background-color: transparent;
}

/* Footer */

.footer-item__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 20px 0 10px 0;
}
.footer-item__list {
    list-style: none;
}
.footer-item__list--item {
    padding: 5px 0;
    font-size: 1.8rem;
    cursor: pointer;
}

.footer-item__list--item:hover .footer-item__list--item-link {
    color: var(--primary-color);
}

.footer-item__list--item-link {
    text-decoration: none;
    color: var(--text-color);
}

.footer {
    margin-top: 150px;
    position: relative;
}

.footer:before {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 40px;
    width: 100%;
    top: -50px;
    margin: 0;
    position: absolute;
}

.footer:after {
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 1px;
    width: 100%;
    bottom: 60px;
    margin: 0;
}

.footer-item .contact-item__list-icon--contact {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}

.footer-item .contact-item__list-icon--contact:hover {
    opacity: 0.8;
    cursor: pointer;
}

.footer-item .contact-item__list-icon--contact img {
    height: 40px;
    width: 40px;
}

.footer-item--location {
    text-align: center;
}

.footer-item--location img {
    width: 300px;
}

.footer-item--location > button {
    width: 70%; 
    padding: 10px 0;
    font-size: 2rem;
    font-weight: 700;
}

.copy-right {
    margin: 50px 0 25px 0;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* Routing List*/
.content__navigation a {
    color: var(--text-color);
    text-decoration: none;
    transition: 0.2s ease-in;
}
.content__navigation a:hover {
    color: var(--button-hover);
}

.content__navigation {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 10px 0;
}

.container-sidebar__titile {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-sidebar__list--category {
    list-style: none;
}

.sidebar__list-category--title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    font-size: 1.8rem;
    background-color: var(--primary-color);
    padding: 10px 5px;    
    border-radius: 5px;
    transition: 0.2s linear;
}

.sidebar__list--category-item {
    padding: 8px 5px;
    font-size: 1.4rem;
    border-top: 1px var(--border-color) solid;
}

.sidebar__list--category-item:hover .sidebar__list--category-link {
    color: var(--button-hover);
}
.sidebar__list--category-link {
    text-decoration: none;
    color: var(--text-color);
}

/* Filter */
.content__fitler-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content__fitler-list > span {
    font-size: 1.4rem;
}

.content__filter-item {
    padding: 0 10px;
}
.content__filter-item input {
    position: absolute;
    cursor: pointer;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

.content__filter-item > input:checked {
    background-color: var(--primary-color);
}

.content__filter-item > label {
    font-size: 1.4rem;
    margin-left: 15px;
}

.content_routing-list--product {
    margin-bottom: 10px;
}

.routing-list__banner {
    width: 100%;
    height: 200px;
    background-image: url('/images/banner.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.routing-list__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 10px 0;
}